<!DOCTYPE html>
<html>
<head>
<title>Weather & News</title>
</head>
<body>

<h1>오늘의 날씨와 헤드라인 뉴스를 알려드릴게요!</h1>
<p>오늘의 날씨는</p>

<p>{{현재기온}}</p>

<p>{{기상}}</p>

<p>{{최저기온}}</p>

<p>{{최대기온}}</p>

<p>{{강수확률}}</p>
<br>
<br>
<p>1위 : {{뉴스1}}</p>
<p>링크 : <a href = "{{뉴스1링크}}">기사 보러가기</a></p>
<br>
<p>2위 : {{뉴스2}}</p>
<p>링크 : <a href = "{{뉴스2링크}}">기사 보러가기</a></p>
<br>
<p>3위 : {{뉴스3}}</p>
<p>링크 : <a href = "{{뉴스3링크}}">기사 보러가기</a></p>
<br>
<p>4위 : {{뉴스4}}</p>
<p>링크 : <a href = "{{뉴스4링크}}">기사 보러가기</a></p>
<br>
<p>5위 : {{뉴스5}}</p>
<p>링크 : <a href = "{{뉴스5링크}}">기사 보러가기</a></p>

</body>
</html>